.bgblue {
    background: #2c48b9 !important;
  }

.text-y { color: #ffea93 !important; }

.d-none { display: none}
.d-block { display: relative !important }

body, html, #wrapper { width: 100%; height: 100%  }
#wrapper { display: table ; background-color: #fff;}
#main { display: table-cell; vertical-align: middle;text-align:center }


@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
      -webkit-transform: scale(1,1);
      -o-transform: scale(1.1);
      -moz-animation: scale(1.1);
  } 50% {
      transform: scale(2,2);
      -webkit-transform:scale(2,2);
      -o-transform: scale(2,2);
      -moz-animation: scale(2,2);
  }
  100% {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
  }
}

.cardcontainer {
  animation: zoominoutsinglefeatured 2s infinite;
  -webkit-animation: zoominoutsinglefeatured 2s infinite;
  -moz-animation: zoominoutsinglefeatured 2s infinite;
  -o-animation:  zoominoutsinglefeatured 2s infinite;
}
