.bgblue {
    background: #2c48b9 !important;
  }

.text-y { color: #ffea93 !important; }
.bg-y {
  background: #FFFDD0;
}

.d-none { display: none}
.d-block { display: relative !important }

body, html, #wrapper { width: 100%; height: 100%  ;background: #FFFDD0; }
#wrapper { display: table ; background-color: #fff;}
#main { display: table-cell; vertical-align: middle;text-align:center }
.parentContainer { overflow: hidden; }
#vol_control {z-index: 1000; position: fixed;}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
      -webkit-transform: scale(1,1);
      -o-transform: scale(1.1);
      -moz-animation: scale(1.1);
  } 50% {
      transform: scale(2,2);
      -webkit-transform:scale(2,2);
      -o-transform: scale(2,2);
      -moz-animation: scale(2,2);
  }
  100% {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
  }
}

.cardcontainer {
  animation: zoominoutsinglefeatured 2s infinite;
  -webkit-animation: zoominoutsinglefeatured 2s infinite;
  -moz-animation: zoominoutsinglefeatured 2s infinite;
  -o-animation:  zoominoutsinglefeatured 2s infinite;
}

@media only screen and (max-width: 990px) {
  .fixed-bottom {
    position: relative !important;
  }
}